[Unit]
Description=HW07

[Service]
Type=simple
User=practice
Group=practice
Restart=on-failure
Environment=MIX_ENV=prod
Environment=PORT=4567
Environment=PROD=true
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/events/events
ExecStart=/bin/bash /home/events/events/_build/prod/rel/events/bin/events start

[Install]
WantedBy=multi-user.target
